module comb_tb;
logic a , b ;
logic y ;

comb dut (
    .a(a),
    .b(b),
    .y(y)
);
    initial begin
        a = 0; b= 0;
        #10;
        a = 0; b = 1;
        #10;
        a = 1; b = 0;
        #10;
        a = 1; b = 1;
        #10;
        #10 $finish;
    end
    initial begin
        $dumpfile("comb.vcd");
        $dumpvars(0,comb_tb);
    end
endmodule